@import url('http://fonts.cdnfonts.com/css/cocogoose');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'COCOGOOSE', sans-serif;                                           
}

body {
  font-family: 'Lato', sans-serif;
}

.header {
  padding-top: ;
  padding-bottom: ;
}
.mobile-menu-parent {
  left: 20px;
}
.mobile-menu {
  width: 20px;
  padding-top: 15px;
}

.logo {
 
}

.hello-text {
  color: #ec5242;
}
.join-btn {
    background-color: #ec5242;
    color: #fff;
}

